body {
	background:#000;
	font-size: 16px;
}

a {
	color: #9930ea;
}

blockquote {
	border-left: 5px solid #795548;
	color: #795548;
	font-size: 125%;
	font-weight: 400;
	margin: 20px 0;
	padding-left: 1.5rem;
}
blockquote * {
  font-size: inherit;
  line-height: inherit;
}
.text-center {
	text-align: center;
}

.text-justify{
	text-align: justify;
}

nav {
	background: white;
	box-shadow: none;
	height: 0;
}
nav i {
	padding: 0 15px;
	position: relative;
	top: 5px;
}
main {
	padding-left: 350px;
}

.page-title{
	background-color: #7373c434;
}

.page-text{
	background-color: #ffffff96;
}

ul.side-nav {
	width: 350px;
}
ul.side-nav li {
	padding: 0;
}
ul.side-nav.fixed a {
	box-sizing: content-box;
	color: #444;
	display: block;
	padding: 0px 0 12px;
}

ul.table-of-contents li.logo a.active,
ul.table-of-contents li.logo a:hover {
	border: none;
	font-weight: 200;
}
ul.side-nav.fixed li.logo {
	box-sizing: border-box;
	min-height: 320px;
	padding: 0px;
}
ul.side-nav.fixed li.logo a {
	font-weight: 200;
	line-height: 100%;
}

ul.side-nav.fixed li.logo a span {
	font-size: 0.8em;
	font-weight: 900;
}

ul.side-nav.fixed li.logo a span {
	font-size: 0.5em;
	font-weight: 900;
}

ul.side-nav.fixed li.bold{
	margin-top: 20px;
}

ul.side-nav.fixed li.bold span{
	font-size: 1.3em !important;
}

ul.table-of-contents li:not(.logo) a.active,
ul.table-of-contents li:not(.logo) a:hover{
	background-color: #fafafa;
	border-left: 3px solid ;
}

li.logo img{
	padding-top: 10px;
}

li.logo span {
	display: block;
	font-size: 14px;
}
.brand-logo {
	width: 100%;
}

.brand-logo h1 {
	font-size: .8em;
	line-height: inherit;
	margin: inherit;
	font-weight: bold;
}
.container {
	width: 95%
}
h3 {
	font-weight: 200;
	margin-bottom: 20px;
	margin-top: 0;
	padding: 30px 40px;
	text-transform: uppercase;
}
.section {
	padding-bottom: 10px;
	padding-top: 0;
	position: relative;
}
.full-height {
	height: 100vh;
}
#intro.section {
	background: url(../../static/img/intro-background.jpg) no-repeat top center/cover;
	position: relative;
}
#intro.section .container {
	color: white;
	font-weight: 200;
	left: 0;
	position: absolute;
	top: 0;
}
#intro.section .container *:not(span) {
	font-weight: 300;
	line-height: 150%;
	padding: 0 30px;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
#intro.section .underline {
	border-bottom: 5px solid #9930ea;
}
#intro.section .teal {
	padding: 0 10px;
}
.overlay {
	background-color: rgba(0, 0, 0, 0.4);
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.waves-effect.waves-blue .waves-ripple {
   /* The alpha value allows the text and background color
   of the button to still show through. */
    background-color: rgba(33, 150, 243, 0.2);
 }


section#projects .card {
	margin-bottom: 10px;
}

.card .role {
	font-size: 1.25rem;
  	position: absolute;
  	right: 38px;
  	top: 35px;
}

.card .card-action {
	padding: 10px;
}

.card li a {
	margin-right: 0;
	color: #333;
	border-bottom: 2px solid #ffab40;
}
.card li a:hover {
	color: #333;
	font-weight: 500;
}
.card .card-content {
	padding-bottom: 0px;
}
.card .card-content p {
	padding: 5px 0 0;
}
.card h5 {
  font-size: 1.5rem;
  margin-bottom: -0.5rem;
  margin-top: 2rem;
}
.card h6 {
  font-weight: 300;
  letter-spacing: 1px;
  margin-top: 2rem;
  text-transform: uppercase;
}
#experience .card-action {
	background-color: rgba(0,0,0,0.02);
	border: none;
}
#experience .card .col.s12.m2 a {
  display: block;
}
#experience .card .col.s12.m2 a img {
  max-height: 60px;
}
.card-action span {
	font-size: 85%;
	color: #666;
}
.card ul {
	margin-bottom: 0;
}
.card ul li {
	line-height: 200%;
	list-style-type: disc;
	margin-left: 24px;
}
.card ul li li {
  color: #666;
  font-size: 13px;
}
.card .card-title {
	font-size: 24px;
}
.card .card-content .card-title {
	line-height: 2rem
}
.card i.right {
  margin-left: 10px;
}
a.hoverline {
	border-bottom: 3px solid transparent !important;
	padding: 3px 3px 0 3px;
	transition: .25s all;
	-moz-transition: .25s all;
	-webkit-transition: .25s all;
}
a.hoverline:hover {
	border-bottom: 3px solid #009688 !important;
}
#skills .card.large {
	height: 360px;
}
#skills h4 {
	border-bottom: 1px solid #ddd;
	margin-bottom: 30px;
	padding-bottom: 20px;
}
#skills .col img.responsive-img {
	margin: 0 auto;
	max-height: 100px;
	padding-bottom: 10px;
	text-align: center;
	vertical-align: middle;
  display: table-cell;
}
.card.large .card-content p {
	color: inherit;
	margin: 0;
	padding: 30px 0;
}
#experience .card-content .row {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}
.card.large .card-image {
	height: 230px;
}
.card.large .card-content {
	height: auto;
}
.card.medium .card-image {
	height: 250px;
}
.card-action a.btn-floating {
	margin-bottom: 0;
}
.card .card-image img {
	height: 100%;
}

#contact a:not(.btn-floating) {
	bottom: 6px;
	left: 20px;
	position: relative;
}
#experience .col.s12.m2 {
	text-align: center;
}
.fa-external-link:before {
  left: 3px;
  position: relative;
  top: 2px;
}
small { display: none;}
.grey-text {
	color: #111010 !important;
}
.teal-text {
	color: #008073 !important
}
.teal {
	background-color: #008073 !important
}
@media (min-width: 1200px) {
	#experience .container {
		width: 860px
	}
}
@media (max-width: 1360px) {
	.card ul li {
		font-size: 14px;
		line-height: 200%;
		margin-left: 20px;
	}
}
@media (max-width: 1160px) {
	.card ul li {
		line-height: 150%;
	}
}
@media (max-width: 992px) {
	main {
		padding-left: 0px;
		padding-top: 64px;
	}
	ul.side-nav a {
	  line-height: 100%;
	  padding: 0;
	  width: 100%;
	}
	nav {
		background: #fff;
		height: 100px;
		position: absolute;
	}
	nav a.button-collapse,
	nav a.button-collapse i {
		color: #9930ea;
		height: 56px;
		line-height: 56px;
	}
	h3 {
		padding: 20px 30px;
  	margin-bottom: 40px;
	}
	.container {
		margin:  0 auto;
	}

	nav.hide-on-large.only.trigger {
		display: block;
	  position: fixed;
	  top: 0;
	  z-index: 2;
	}
	.name-title {
	  display: block;
	  height: 100%;
	  padding-top: 15px;
	  text-align: center;
	  width: 100%;
    position: absolute;
	}
	.name-title > span,
	.name-title > a {
    position: relative;
    line-height: 28px;
	}
	.name-title a {
    font-size: 22px;
    display: block;
		color: #9930ea;
	}
	.name-title span {
    display: block;
    font-size: 14px;
	}
	h3,
	.container {
    position: relative;
	}
	section#intro {
	    margin-bottom: -64px;
	}
	.card .role {
    position: relative;
    right: initial;
    top: initial;
	}
}
@media (max-width: 600px) {
	h2 {
	  font-size: 22px;
	  line-height: 200%;
	  margin: 30px 0 0;
	}
	#intro.section .container *:not(span) {
		padding: 0;
	}
	.card .card-content .card-title {
    font-size: 20px;
    line-height: 24px;
	}
	#experience span.card-title {
    text-align: center;
    display: block
	}
	#experience span.card-title a {
	   margin: 0;
	}
	i.mdi-navigation-close.right {
	  position: relative;
	  bottom: 35px;
	}
	#contact a:not(.btn-floating) {
    text-align: center;
    display: block;
    left: initial;
    bottom: initial;
	}
	#contact a.btn-floating.btn-large {
	    display: block;
	    text-align: center;
	    margin: 0 auto;
	}
	#intro.section {
		background-position-x: 30%;
	}
}

.p-1{
	padding: 10px;
}

.p-2{
	padding: 20px;
}

.p-3{
	padding: 30px;
}

.card-content .responsive-img{
    max-width: 100px;
}







#info {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
}

a, button, input, select {
	pointer-events: auto;
}

.lil-gui {
	z-index: 2 !important; /* TODO Solve this in HTML */
}

@media all and ( max-width: 640px ) {
	.lil-gui.root { 
		right: auto;
		top: auto;
		max-height: 50%;
		max-width: 80%;
		bottom: 0;
		left: 0;
	}
}

#overlay {
	position: absolute;
	font-size: 16px;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgba(0,0,0,0.7);
}

#overlay button {
	background: transparent;
	border: 0;
	border: 1px solid rgb(255, 255, 255);
	border-radius: 4px;
	color: #ffffff;
	padding: 12px 18px;
	text-transform: uppercase;
	cursor: pointer;
}

#notSupported {
	width: 50%;
	margin: auto;
	background-color: #f00;
	margin-top: 20px;
	padding: 10px;
}


canvas{
	position: fixed;
	z-index: -1;
	top: 0%;
}

ul.side-nav, li.logo{
	background-color: #ffffff !important;
	color: white;
}

.card {
	background-color: rgba(255, 255, 255, 0.685);	
}

.card i.right {
    color: black;
}

.card * {
	color: black;
}

.card a {
	text-transform: none;
	color: #9930ea;
	margin-right: 0px;
}


@media print {
  .table-of-contents {
    display: none;
  }
}
